// Colors
$off-white: #F8F8F8;
$dark-gray: #555555;
$orange: #f47321;
$blue: #005580;

$background-color: $off-white;
$primary-color: $dark-gray;
$secondary-color: $orange;
$hover-color: $blue;

// Font family/weight
$font-family: 'Lato';
$font-weight: 300;
$default-font-size: 20px;
$header-font-size: $default-font-size*2.25;
@import url(https://fonts.googleapis.com/css?family=Lato:300);

// Content sizes
$header-width: 1000px;
$profile-width: $header-width*0.8;
$header-height: 70px;

// Profile picture sizes
$profile-picture-border-width: 2px;
$profile-picture-height: $header-height - 10px;
$profile-picture-width: 0.576131687*$profile-picture-height;
$profile-picture-margin: ($header-height - ($profile-picture-border-width*2) - $profile-picture-height)/2 ($header-height - 4px - $profile-picture-width)/2;

// Basic
body {
  display: block;
  margin: 20px 0px;
  font-family: $font-family;
  font-size: $default-font-size;
  font-weight: $font-weight;
  color: $primary-color;
  text-align: center;
  line-height: 30px;
  background-color: $background-color;
}

a {
  cursor: pointer;
  color: $secondary-color;
  text-decoration: none;
  transition: 0.1s;
  -ms-transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  &:hover {
    color: $hover-color;
    padding-bottom: 1px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin: 0 15px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: $default-font-size*2;
}

h2 {
  font-size: $default-font-size*1.75;
  margin: 20px 0px;
}

h3 {
  font-size: $default-font-size*1.5;
}

h4 {
  font-size: $default-font-size;
  margin: 15px 0px;
  font-style: italic;
}

p {
  text-align: justify;
  margin: 15px 0px;
}

.separator {
  width: 90%;
  height: 1px;
  background-color: $primary-color;
  margin: 25px auto;
}

.centered {
  text-align: center;
}

.left {
  float:left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

// Main
.content {
  display: hidden;
  margin: 0px 20px;
}

.profile {
  margin: 0px auto;
  height: auto;
  max-width: $profile-width;
  overflow: auto;
}

.profile-section {
  overflow: auto;
}

// Header
.header {
  margin: 0 auto;
  max-width: $header-width;
  overflow: hidden;
}

.header-section {
  height: $header-height;
  line-height: $header-height;
  @media (max-width: 600px) {
    float: none;
  }
}

.name {
  padding-left: 30px;
}

.profile-picture-container {
  display: inline-block;
  border-radius: 100%;
  border: $profile-picture-border-width solid $primary-color;
}

.profile-picture {
  margin: $profile-picture-margin;
  height: $profile-picture-height;
  width: $profile-picture-width;
  background-size: $profile-picture-width $profile-picture-height;

  background-image: url('../images/profile.png');
  @media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    background-image: url('../images/profile_2x.png');
  }
}

// Nav
.nav {
}

.selected {
  border-bottom: 1px solid $secondary-color;
}

.tab-link {
  margin: 0px 10px;
}

// Project
.project {
  overflow: auto;
}

.project-media {
  margin: 5px 0;
}

.project-photo {
  width: 100%;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

// Animation
.fadein {
  -webkit-animation: fadein 0.25s;
  -moz-animation: fadein 0.25s;
  -ms-animation: fadein 0.25s;
  -o-animation: fadein 0.25s;
  animation: fadein 0.25s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
