@import "../../vendor/bourbon/dist/bourbon";

$background-color: #F8F8F8;
$primary-color: #555555;
$secondary-color: #f47321;
$hover-color: #005580;

$font-family: 'Lato';
$font-weight: 300;

$picture-size: 350px;
$picture-height: 122px;
$picture-width: 70px;
$picture-box-size: $picture-height*1.1;
$picture-margin: ($picture-box-size - $picture-height)/2;

$default-font-size: 20px;
$header-font-size: $default-font-size*2.25;

$preview-width: 412px;
$preview-height: 273px;

body {
  display: block;
  margin: 0;
  font-family: $font-family;
  font-size: $default-font-size;
  font-weight: $font-weight;
  color: $primary-color;
  text-align: center;
  line-height: 30px;
  background-color: $background-color;
}

a {
  color: $secondary-color;
  text-decoration: none;
  transition: 0.1s;
  -ms-transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  &:hover {
    color: $hover-color;
    padding-bottom: 1px;
  }
}

p {
  margin: 0;
}

h1 {
  font-size: $header-font-size;
  font-weight: $font-weight;
  line-height: $header-font-size;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 15px;
}

.profile {
  -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.4s; /* Firefox < 16 */
      -ms-animation: fadein 0.4s; /* Internet Explorer */
       -o-animation: fadein 0.4s; /* Opera < 12.1 */
          animation: fadein 0.4s;

  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: 50px;
  max-width: 800px;
}

@media screen and (max-width: 750px) {
  .profile {
    margin-top: 25px;
  }
}

.bio {
  margin: 0 20px 0 20px;
}

.pictureBox {
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 2px solid $primary-color;
  @include size($picture-box-size);
}

.picture {
  margin: $picture-margin auto $picture-margin auto;

  @include size($picture-width $picture-height);
  @include retina-image('../images/icon', $picture-width $picture-height);
}

.bio {
  text-align: left;
  height: auto;
}

.projects {
  overflow: auto;
}

.project {
  overflow: auto;
  .preview {
    @include size($preview-width $preview-height);
    display: inline-block;
    float: left;
  }
  .description {
    display: inline-block;
    float: right;
    text-align: left;
    padding-left: 20px;
    width: calc(100% - #{$preview-width} - 20px);
  }
}

#secon-preview {
  @include retina-image('../images/secon', $preview-width $preview-height)
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
