@import "../../vendor/bourbon/dist/bourbon";

$background-color: #000000;
$primary-color: #555555;
$secondary-color: #f47321;
$hover-color: #005580;

$font-family: 'Lato';
$font-weight: 300;

$picture-size: 350px;

$default-font-size: 20px;
$header-font-size: $default-font-size*2.25;

body {
  display: block;
  margin: 0;
  font-family: $font-family;
  font-size: $default-font-size;
  font-weight: $font-weight;
  color: $primary-color;
  text-align: center;
  line-height: 30px;
}

a {
  color: $secondary-color;
  text-decoration: none;
  transition: 0.1s;
  -ms-transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  &:hover {
    color: $hover-color;
    border-bottom: 2px solid $hover-color;
    padding-bottom: 1px;
  }
}

p {
  margin: 0;
}

h1 {
  font-size: $header-font-size;
  font-weight: $font-weight;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 15px;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  margin-top: 100px;
  max-width: 800px;
}

.bio {
  margin: 0 20px 0 20px;
}

.picture {
  margin: 15px auto 15px auto;
  @include size($picture-size);
  @include retina-image('../images/profile', $picture-size);
}

.bio {
  text-align: left;
  height: auto;
}
