.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.sass-cache

stylesheet.scss
_deploy/
node_modules/
Gruntfile.js
stevenacalhoun.github.io.sublime-project
stevenacalhoun.github.io.sublime-workspace
package.json
